html {
    scroll-behavior: smooth;
}

body{
    background-color: #253237;
    color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.feedback:hover{
    cursor: pointer;
}

flip span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}
flip span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    
}
span a:before,
span a:after{
    position: absolute;
    content: "Contact";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ee6c4d;
    box-sizing: border-box;
    border-radius: 8px;
}
span a:before{
    color: #ee6c4d;
    transform: rotateY(0deg) translateZ(25px);
}
span a:after{
    color: #253237;
    background: #ee6c4d;
    transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background:#ee6c4d;
    border-radius: 50px;
    height: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background:rgb(209, 90, 60);
}

.navbar{
    height: 50px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.5s;
    background: rgba( 37, 50, 55, 0.95 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border-radius: 0px;
    z-index: 5;
}

#notification{
    margin-top: 70px;
    text-align: center;
    width: 100%;
}

#notification h1{
    font-family: heebo;
    font-size: 18px;
    background-color: #ee6c4d;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 20px;
}

.logo{
    margin-left: 50px;
    height: 60px;
}

#navbar li{
    display: inline;
    margin-left: 50px;
    color: white;
}

@keyframes animatefromtop {
    0%{margin-top: -100vh;}
    100%{margin-top: 0vh;}
    
}

#navbar a{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-decoration: none;
    overflow: hidden;
    background: linear-gradient(to right, #ee6c4d, #ee6c4d 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    animation-name: animatefromtop;
    animation-duration: 2s;
    transition: background-position 275ms ease;
}

#navbar a:hover {
    background-position: 0 100%;
}

#navbar ul{
    float: right;
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    margin-right: 25px;
    color: white;
}

#vl {
    border-left: 2px solid #ee6c4d;
    height: 100px;
    z-index: 5;
    margin-left: 23px;
    margin-right: auto;
    background-color: transparent;
}

@keyframes hideline {
    0%{margin-bottom: -1000vh;}
    100%{margin-bottom: 0px;}
}

#images{
    border-radius: 10px;
    background-color: #253237;
    margin-left: auto;
    padding-right: 0px;
    width: 50px;
    padding: 5px;
    padding-left: 0px;
}

#images a{
    color: white;
    fill: white;
}

#social-links{
    margin-left: 25px;
    fill: white;
    border-radius: 6px;
    width: 50px;
    position: fixed;
    height: 275px;
    bottom: 0px;
    animation-name: hideline;
    animation-duration: 3s;
}

.social-images:first-child{
    margin-top: 25px;
}

.social-images{
    position: relative;
    display: block;
    width: 30px;
    margin-bottom: 25px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    transition: top ease 0.5s;

}

.social-images:hover{
    fill:#ee6c4d;
    cursor: pointer;
    top: -2px;
}

#hero{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#hero-text{
    width: 700px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button{
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-top: 50px;
    color: #ee6c4d;
    background-color: #253237;
    border: 2px #ee6c4d solid;
    border-radius: 6px;
}

.small-text{
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.medium-text{
    font-family: 'Heebo', sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;

}

.large-text{
    color: #ee6c4d;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
    font-size: 125px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



.flip {
    margin-top: 50px;
    border-radius: 6px;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 160px;
    height: 48px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;
}

.flip a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    cursor: pointer;
}

.flip a .front, .flip a .back {
    border:#ee6c4d 2px solid;
    border-radius: 6px;
    margin: 0;
    width: 160px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
}

.flip a .front {
    border: #ee6c4d 2px solid;
    background-color: #253237;
    color:#ee6c4d;
    -webkit-transform: rotateY(0) translateZ(24px);
    -moz-transform: rotateY(0) translateZ(24px);
    -o-transform: rotateY(0) translateZ(24px);
    -ms-transform: rotateY(0) translateZ(24px);
    transform: rotateY(0) translateZ(24px);
}

.flip a .back {
    border: none;
    background-color: rgba(255,255,255,0);
    color: rgba(34,34,34,0);
    -webkit-transform: rotateX(90deg) translateZ(24px);
    -moz-transform: rotateX(90deg) translateZ(24px);
    -o-transform: rotateX(90deg) translateZ(24px);
    -ms-transform: rotateX(90deg) translateZ(24px);
    transform: rotateX(90deg) translateZ(24px);
    overflow: hidden;
}

.flip a .back:after {
    border: none;
    content: '';
    position: absolute;
    top: -32%;
    left: -10%;
    width: 120%;
    height: 50%;
    background: #253237;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.flip a:hover {
    border: none;
    -webkit-transform: translateZ(-24px) rotateX(-90deg);
    -moz-transform: translateZ(-24px) rotateX(-90deg);
    -o-transform: translateZ(-24px) rotateX(-90deg);
    -ms-transform: translateZ(-24px) rotateX(-90deg);
    transform: translateZ(-24px) rotateX(-90deg);
}

.flip a:hover .front {
    border: none;
    background:#253237;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.flip a:hover .back {
    border: none;
    color:#253237;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
    background: #ee6c4d;
}

.flip a:hover .back:after {
    border: none;
    -webkit-transform: rotate(6deg) translate(100px, -18px);
    -moz-transform: rotate(6deg) translate(100px, -18px);
    -o-transform: rotate(6deg) translate(100px, -18px);
    -ms-transform: rotate(6deg) translate(100px, -18px);
    transform: rotate(6deg) translate(100px, -18px);
}

.splitter{
    height: 50px;
}

.about{
    float: right;
    width: 90vw;
    background-color:#253237;
    height: 1000px;
}

.about-title{
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

#about-title-channel{
    float: left;
    position: relative;
    text-align: center;
    height: 940px;
    width: 300px;
}

#main-about{
    margin-right: 25px;
    float: right;
    width: 1000px;
    min-width: 250px;
}

#vl3 {
    margin-top: 25px;
    width: 150px;
    border-bottom: 2px solid #ee6c4d;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    height: 200px;
}

#to-contain{
    padding-right: 50px;
    border-right: 2px #ee6c4d solid;
    position: sticky;
    top: 50px;
}

.about-text{
    margin-top: 50px;
    margin-left: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding-right: 50px;
    height: fit-content;
    min-width: 600px;
}

#about-overall{
    max-width: 1500px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.underline{
    margin-left: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 25px;
    text-decoration: underline;
}

.highlight{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color:#ee6c4d;
    font-size: 25px;
    text-decoration: underline white;
    cursor: default;
}

#main-about ul{
    margin-top: 35px;
    margin-left: 40px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#main-about li{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:white;
}

#music{
    height: 150vh;
    margin-left: 150px;
    margin-right: 10px;
}

.music-title{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 125px;
    text-align: center;
}

.spotify-link{
    margin-top: 60px;
    height: 30px;
    line-height: 30px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.spotify-link a{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    text-decoration: none;
    float: right;
    color: white;
}

.spotify-link a:hover{
    color: #1ed760;
}

.spotify{
    float: left;
    height: 30px;
    filter: invert(61%) sepia(82%) saturate(499%) hue-rotate(86deg) brightness(97%) contrast(82%);
}

#music-grid{
    margin-top: 150px;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#now-playing{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 60%;
    height: 100px;
    border-radius: 25px;
    background:#202c31;
    padding: 25px;
    margin-bottom: 50px;
    border:#ee6c4d 1px solid;
}

.now-playing-title{
    position: absolute;
    margin-bottom: 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 800px;
    margin-left: -75px;
    margin-right: auto;
    margin-top: -110px;
}

#album-image{
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 25px;
    border-radius: 6px; 
}

.album-image-real{
    height: 100%;
    border-radius: 6px;
}

#song-name{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    width: 450px;
    float: right;
}

#album-name{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    width: 450px;
    float: right;
}

#artist-name{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    width: 450px;
    color:rgb(209, 90, 60);
    float: right;
}

#top-artists{
    height: fit-content;
    padding-bottom: 50px;
}

.artist-title{
    margin-bottom: 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 125px;
    margin-top: 10px;
}

.artist-overall{
    margin-left: auto;
    margin-right: auto;
    background:#202c31;
    padding: 25px;
    margin-bottom: 0px;
    border:#ee6c4d 1px solid;
    border-radius: 25px;
    height: 100px;
    line-height: 100px;
    top: 0px;
    margin-top: 25px;
    width: 60%;
}

.artist-name{
    margin: 0;
    float: right;
    font-size: 30px;
    width: 450px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: white;
    height: 100px;
}

.artist-image{
    margin-left: 25px;
    height: 100px;
    border-radius: 10px;
}

.artist-link{
    position: relative;
    top: 0px;
    transition: top ease 0.5s;
}

.artist-link:hover{
    top: -5px;
    cursor: pointer;
}

.center-text{
    float: right;
    width: 350px;
    height: fit-content;
    margin: 0;
    margin-top: 50px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 

#currently-listening{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    border-radius: 25px;
    margin-bottom: 100px;
}

#portfoliosplitter{
    margin-top: 1px;
    height: 1500px;
    width: 100px;
}

#portfolio{
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    margin-left: auto;
    max-width: 1600px;
}



#portfolio-title{
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 75px;
    letter-spacing: 10px;
    padding: 7px;
}

#portfolio-title-channel{
    float: right;
    position: relative;
    text-align: center;
    height: 2075px;
    width: 200px;
    margin-right: 100px;
}

#to-contain-portfolio{
    padding-left: 50px;
    border-left: 2px #ee6c4d solid;
    position: sticky;
    top: 50px;
    height: 371px;
}

#project-1-main{
    width: 75%;
    height: fit-content;
}

#project-1-title{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.page-wrap {
    padding: 2em;
    background-color: #202c31;
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
}

.skill-bar-container {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #1a2327;
    margin-bottom: 0.5em;
}

.skill-bar-container .skill-bar {
    display: block;
    border-radius: 4px;
    height: 25px;
}

.skill-bar-container .skill-bar.level1 {
    width: 20%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-bar.level2 {
    width: 40%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-bar.level3 {
    width: 60%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-bar.level4 {
    width: 80%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-bar.level5 {
    width: 100%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-bar.level6 {
    width: 90%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-bar.level7 {
    width: 98%;
    background-color: #ee6c4d;
}

.skill-bar-container .skill-name {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    line-height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.skill-bar-container .skill-percent {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #253237;
}


.project-logo-ftg{
    padding: 0px;
    width: 75px;
    display: block;
    position: relative;
}


.project-logo{
    width: 100%;
}

.the-logo{
    padding: 0px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.info-over{
    width: 600px;
    align-content: center;
    margin-top: 50px;
}

.alfie-title{
    padding: 0px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    line-height: 100%;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.neumorphism{
    margin-top: 50px;
    height: 300px;
    width: 900px;
    border-radius: 10px;
    background: #202c31;
    margin-left: auto;
    margin-right: auto;
    border: #ee6c4d 1px solid;
}

.phone-mockup{
    height: 299px;
    float: right;
    margin-right: 0px;
    object-fit: cover;
    border-radius: 10px;
}

.ipad-mockup{
    height: 298px;
    float: right;
    margin-right: 1px;
    margin-top: -150px;
    object-fit: cover;
    border-radius: 10px;
}


.hover:hover{
    background-color: #1a2327;
    cursor: pointer;
}

.projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.tag{
    margin-top: 40px;
    padding: 0px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #202c31;

}

.developed{
    margin-top: 40px;
    padding: 0px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #202c31;
}

.developed h1{
    padding: 5px;
    font-size: 12px;
    font-family: heebo;
    background-color: #1ed760;
    border-radius: 6px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

.tag h1{
    padding: 5px;
    font-size: 12px;
    font-family: heebo;
    background-color: #ee6c4d;
    border-radius: 6px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

#portfolioaftersplitter{
    height: 500px;
}




#experience-overall{
    margin-top: 1000px;
    height: 1000px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#experience-title-channel{
    position: relative;
    text-align: center;
    height: 1800px;
    width: 200px;
    margin-left: 100px;
    text-align: right;

}

#to-contain-experience{
    padding-right: 50px;
    border-right: 2px #ee6c4d solid;
    position: sticky;
    top: 50px;
    height: 525px;
    text-align: center;

}

#experience-title{
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
    color: white;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 75px;
    letter-spacing: 5px;
    padding: 7px;
    width: 500px;
    height: 400px;
    position: absolute;
}


.timeline {
    position: relative;
    max-width: 900px;
    margin-left: 450px;
    margin-top: -1800px;
}

  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ee6c4d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

  /* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #202c31;
    border: 4px solid #ee6c4d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

  /* Place the container to the left */
.left {
    left: -80px;
}

  /* Place the container to the right */
.right {
    left: 50%;
}

  /* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent;
}

  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent  transparent;
}

  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

  /* The actual content */
.content {
    padding: 20px 30px;
    background-color: #202c31;
    border: 2px solid #ee6c4d;
    position: relative;
    border-radius: 6px;
    font-family: heebo;
}

.content:hover{
    background-color: #1a2327;
}


.dates{
    font-size: 25px;
}

#experienceaftersplitter{
    height: 500px;
}

  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

  /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

  /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

  /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media only screen and (max-width: 1500px) {

    #about-title-channel{
        position: relative;
        height: 200px;
        width: 90vw;
        margin-bottom: 75px;
    }

    #to-contain{
        padding-right: 0px;
        height: 200px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-bottom: #ee6c4d 2px solid;
        border-right: none;
    }

    .about-title{
        float: left;
        position: relative;
        margin: 0;
        top: 50%;
        margin-right: 50px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        vertical-align: center;
    }

    #main-about{
        float: none;
        margin-right: 5vw;
        margin-left: 5vw;
        width: 80vw;
    }

    .about-text{
        position: relative;
        margin-top: 50px;
        margin-bottom: 0px;
        min-width: 0px;
        padding-right: 20px;
        height: fit-content;
    }

    #to-contain-portfolio{
        height: 200px;
        border-bottom: none;
        border-left: none;
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        margin-top: 300px;
        height: 150px;
        position: relative;
    }

    #to-contain-portfolio:before {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 70px;
        right: 0;
        height: 0px;
        width: 450px;
        border: 2px solid #ee6c4d;
        border-top-width: 0;
    }

    #portfolio-title-channel{
        float: none;
        position: relative;
        height: 100px;
        width: 500px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    #portfolio-title{
        letter-spacing: normal;
        transform: rotate(-360deg);
        position: relative;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        min-width: 0px;
        height: fit-content;
    }

    .projects{
        margin-top: 150px;
    }

    .neumorphism{
        width: 700px;
    }

    .info-over{
        width: 350px;
        align-content: center;
        margin-top: 50px;
    }

    .projects{
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        width: 800px;
    }

    #experience-title{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        transform: rotate(0deg);
        height: 100px;
        letter-spacing: normal;
    }

    #experience-title-channel{
        height: 200px;
        width: 500px;
        padding-left: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #to-contain-experience{
        position: relative;
        height: 100px;
        margin-left: 45px;
        top: 0px;
        line-height: 200px;
        width: 500px;
        border-right: none;
    }

    #to-contain-experience:before {
        content: " ";
        position: absolute;
        bottom: 0;
        top: 175px;
        left: 30px;
        right: 0;
        height: 0px;
        width: 450px;
        border: 2px solid #ee6c4d;
        border-top-width: 0;
    }

    .timeline{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
    }

    .timeline::after{
        margin-left: 47.5px;
    }

    #portfoliosplitter{
        height: 1200px;
    }
}

@media only screen and (max-width: 1060px) {
    .left{
        left: calc(28% -  70px);       
    }

    .right{
        left: calc(28% -  70px);   
    }

    .left::after{
        left: -16px;
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: #202c31;
        border: 4px solid #ee6c4d;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .timeline::after{
        margin-left: 0px;
        left: 28%;
    }
}

@media only screen and (max-width: 1060px) {
    #hero-text{
        left: 60%;
    }
}

@media only screen and (max-width: 1000px){
    #hero-text{
        left: 70%;
        top: 450px; 
        height: 400px;
    }

    .large-text{
        font-size: 100px;
    }

    .about-text{
        padding-right: 0px;
    }
}